footer{
    position: relative;
    background-color: rgb(51, 51, 51);
    width: 1920px;
    height: 420px;
}

.line-footer {
    background-color: rgb(36, 36, 36);
    opacity: 0.502;
    position: absolute;
    left: 376px;
    top: 207px;
    width: 1170px;
    height: 1px;
    z-index: 22;
  }

.cycle{
    border-width: 2px;
    border-color: rgb(105, 105, 105);
    border-style: solid;
    border-radius: 50%;
    opacity: 0.502;
    width: 44px;
    height: 44px;
    position: relative;
}

.cycle-facebook{
    border-radius: 50%;
    background-color: rgb(214, 186, 141);
    width: 48px;
    height: 48px;
    z-index: 1;
    position: relative;
}

.logo-footer{
    position: absolute;
    left: 376px;
    top: 61px;
}

.address-footer{
    font-size: 14px;
    font-family: "Fira Sans";
    color: rgb(105, 105, 105);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 375px;
    top: 288px;
    letter-spacing: 0.1px;
    z-index: 1;
}

.copyright-footer{
    font-size: 14px;
    font-family: "Fira Sans";
    color: rgb(105, 105, 105);
    line-height: 2;
    text-align: left;
    position: absolute;
    left: 376px;
    top: 100px;
    left: 375px;
    top: 316px;
    z-index: 1;
}

.icon-footer{
    font-size: 18px;
    font-family: "Ionicons";
    color: rgb(171, 171, 171);
    text-transform: uppercase;
    line-height: 1.167;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-social-facebook{
    color: rgb(51, 51, 51);
}